<div class="album py-5 bg-light">
        <div class="container">
<%=link_to "Create a New Item", new_portfolio_path  if logged_in?(:site_admin)%>
          <div class="row">
          <% @port_items.each do |x| %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
              
                <%= image_tag x.main_image unless x.second_image.nil? %>
                <div class="card-body">
                  <p class="card-text"><span class ='portTitle'><%= link_to x.title, portfolio_path(x)%></span>
                  <span class="subTitle"><%=x.subtitle%></span>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    
                  </div>
                </div>
              </div>
          
            </div>
            <%end%>
  </div>
    
</div>


<!--Rails way to create a path to another page-->
