<div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex nav-masthead">
            <%= nav_helper 'nav-link', 'span'%>
            <%= login_helper 'nav-link'%> 
            <h4 class='header'>AJ Hephner:</h4><p id='rb'><i>Thoughts if any...</i></p>
            
        </nav>
      </div>

            