<div class="container">
    <div class="row">
        <div class="col"><h1>Bio:</h1></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
           <div class="col"id='bio'>
                
                    <p>In my experience, even good software, can scare users. I try and mitagate that fear.</p> 
                    <p>Jr. developer/ business analyst. Found coding as a second career. Now I look forward to working with people to identify challenges and develop solutions</p>     
            </div>
           
    </div>
    <div class="row"><br></div>
    <div class="row"><br></div>
    <div class="row">
            <div class="col">
                <div class="col"><h4>Work Experience</h4></div>
                <div class="w-100"></div>
                <div class="col">
                    <ul class="work">
                        <li>Advanced Turf Solutions</li>
                            <ul>
                                <li class="add">May 2018 - Present</li>
                                <li class="add">IT Business Analyst</li>
                            </ul>
                        <li>City of Fishers</li>
                            <ul>
                                <li class="add">Jan 2018 - May 2018</li>
                                <li class="add">Business Coordinator</li>
                            </ul>
                        <li>FMC Pro Solutions </li>
                            <ul>
                                <li class="add">May 2011 - Aug 2017</li>
                                <li class="add">Market Specialist</li>
                           </ul>
                    </ul>
                </div>
            </div>
        
            <div class="col">
                    <div class="col"><h4>Education</h4></div>
                    <div class="w-100"></div>
                    <div class="col">
                        <ul class="work">
                            <li>Texas Tech</li>
                                
                                <ul><li class="add">MS - Crop Science</li></ul>
                            <li>Wilmington College</li>
                                <ul><li class="add">BS - Agrononmy</li></ul>
                            <li>Eleven Fifty Academy</li>
                                <ul><li class="add">JavaScript</li></ul>
                    </div>
                </div>
        </div>   
</div>
