<div class='container'>
    <div class='row'>
        <div>
            <h4>Phone:</h4>
         </div>
         <div class='col' style='margin-top:3px;'>
            <!--Action View to convert string to phone number-->
            <p><%= number_to_phone "9375469676"%></p>
        </div>   
    </div>
    <div class='row'>
        <div>
            <h4>email:</h4>
         </div>
         <div class='col' style='margin-top:3px;'>
            <!--Action View to convert string to phone number-->
            <p>ajhephner178@gmail.com</p>
        </div>   
    </div>
    <div class='row'>
        <div>
            <h4>Mailing:</h4>
         </div>
         <div class='col' style='margin-top:3px;'>
            <!--Action View to convert string to phone number-->
            <p style='margin-bottom: 0;'>7910 N. College Ave.</p> <p>Indanapolis, IN 46240</p>
        </div>   
    </div>
    <div class='row'>
        <div>
            <h4>LinkedIn:</h4>
         </div>
         <div class='col' style='margin-top:3px;'>
            <!--Action View to convert string to phone number-->
            <p>THIS NEEDS UPDATED</p>
        </div>   
    </div>
</div>