
      

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome!</h1>
        <p class="lead">I am a Software developer, IT Business Analyst and ready for anything </p>
        <p class="lead">
          <%= link_to "About Me", pages_about_path, class: "btn btn-lg btn-secondary" %> 
        </p>
      </main>

      
   